//media breakpoints
$tablet: 549px;
$laptops: 769px;
$large: 1171px;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin in {
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in;
}
@mixin left {
    transform: translateX(-30px);
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in;
}

//media queries

//tablet
@mixin mediaMd {
    @media screen and (min-width: $tablet) and (max-width: $laptops - 1) {
        @content;
    }
}

// desktop & laptop
@mixin mediaLg {
    @media screen and (min-width: $laptops) and (max-width: $large - 1) {
        @content;
    }
}

// extra large
@mixin mediaXl {
    @media screen and (min-width: $large) {
        @content;
    }
}
