@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "mixins";


$font-family: Montserrat, sans-serif;
$primary: #222426;
$secondary: #2f3134;
$tertiary: #f8f8f8;
$icon: #00fff0;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//active class for navigation - make nav slide in
.slide {
  transform: translateX(0) !important;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

html {
  font-family: $font-family;
}

//animation class
.scroll {
  transform: translateY(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.left {
  transform: translateX(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}
section {
  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }
  .section__header {
    font-size: 1.7em;
    transition: 0.3s ease-in-out;
    @include in;
    //media breakpoint
    @include mediaMd {
      font-size: 1.7em;
    }
    @include mediaLg {
      font-size: 1.8em;
    }
    @include mediaXl {
      font-size: 1.9em;
    }
    //end of media breakpoint
  }
}
.wrapper {
  width: 95%;
  margin: 0 auto;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.2em 2em;
  background: $secondary;
  position: fixed;
  z-index: 10;

  #logo {
    padding: 0.5em;
    cursor: pointer;
    font-size: 1.5em;
    a {
      color: $icon;
    }
    @include mediaLg {
      @include flexCenter;
      width: 120px;
      padding: 0.3em 0.5em;
      margin-left: 5%;
    }
    @include mediaXl {
      @include flexCenter;
      width: 120px;
      padding: 0.3em 0.5em;
      margin-left: 5%;
    }
  }

  #nav {
    width: 100%;

    height: 100vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    background: $secondary;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 5;
    transition: all 0.3s ease-in;
    //media breakpoint
    @include mediaLg {
      display: block;
      position: relative;
      transform: translateX(0);
      height: auto;
      width: 80%;
      margin: 0 5% 0 0.5em;
    }
    @include mediaXl {
      display: block;
      position: relative;
      transform: translateX(0);
      height: auto;
      width: 80%;
      margin: 0 5% 0 0.5em;
    }

    .nav__close {
      display: block;
      width: 40px;
      height: 35px;
      color: $tertiary;
      cursor: pointer;
      position: absolute;
      right: 25px;
      top: 25px;
      transition: color 0.8s;
      animation: pulse 0.7s infinite alternate;
      @include flexCenter;

      @include mediaLg {
        display: none;
      }
      @include mediaXl {
        display: none;
      }
      &:hover {
        color: $icon;
      }

      //pulse animation
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }
    }
    ul {
      width: 100%;
      height: auto;
      position: relative;
      margin-top: 6em;
      @include mediaLg {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
        width: 90%;
        left: 10%;
      }
      @include mediaXl {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
        width: 90%;
        left: 10%;
      }
      .nav__list-item {
        width: 100%;
        height: auto;
        @include mediaLg {
          width: 120px;
          margin-left: 5%;
        }
        @include mediaXl {
          width: 120px;
          margin-left: 5%;
        }
      }
      .nav__link {
        color: $tertiary;
        display: block;
        padding: 1.2em 0;
        text-align: center;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        position: relative;
        border-bottom: 1px solid rgb(134, 134, 134);
        border-top: 1px solid rgb(134, 134, 134);
        transition: 0.3s ease-in-out;
        z-index: 1;
        @include mediaLg {
          width: 100%;
          font-size: 0.9rem;
          border: none;
          &:hover {
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
          }
        }
        @include mediaXl {
          width: 100%;
          font-size: 0.9rem;
          border: none;
          &:hover {
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
          }
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background: $primary;
          width: 100%;
          height: 100%;
          transform: translateX(-90%);
          transition: 0.3s ease-in;
          z-index: -1;
          @include mediaLg {
            background: $icon;
            transform: translateX(0) scaleX(0.5);
            height: 3px;
            bottom: 0;
            top: 100%;
            width: 100%;
          }
          @include mediaXl {
            background: $icon;
            transform: translateX(0) scaleX(0.5);
            height: 3px;
            bottom: 0;
            top: 100%;
            width: 100%;
          }
        }
        &:hover::before {
          transform: translateX(0);
          @include mediaLg {
            transform: scaleX(1);
            width: 100%;
          }
          @include mediaXl {
            transform: scaleX(1);
            width: 100%;
          }
        }
      }
    }
  }
  #burger {
    display: block;
    width: 40px;
    height: 35px;
    position: relative;
    cursor: pointer;
    @include flexCenter;
    @include mediaLg {
      display: none;
    }
    @include mediaXl {
      display: none;
    }
    span {
      display: block;
      width: 70%;
      height: 2.5px;
      border-radius: 3px;
      background: $tertiary;
      margin: 0 auto;
      position: absolute;
    }
    span:nth-child(2) {
      margin-top: 8px;
    }
    span:nth-child(3) {
      margin-top: -8px;
    }
  }
}
//main section
main {
  #folio {
    .folio__li {
      @include in;
    }
  }

  #about {
    .about__desc {
      @include left;
    }
    .about__img {
      @include in;
    }
  }

  #contact {
    .contact__animate {
      @include in;
    }
  }
}
// banner animation
@keyframes scrollAnimation {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
#banner {
  background-image: url("images/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  @include flexCenter;
  flex-direction: column;
  color: $tertiary;
  font-size: 0.6em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  //media breakpoint
  @include mediaMd {
    font-size: 1em;
  }
  @include mediaLg {
    font-size: 1.2em;
  }
  @include mediaXl {
    font-size: 1.5em;
  }
  //end of media breakpoint
  #banner_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba($primary, 0.9);
  }
  h1 {
    margin-bottom: 0.7em;

    @include in;
    animation: scrollAnimation 0.5s 0.5s ease-in forwards;
    span {
      color: $icon;
    }
  }
  h2 {
    margin-bottom: 0.7em;
    @include in;
    animation: scrollAnimation 0.5s 1s ease-in forwards;
  }
  .banner__btn {
    display: block;
    border: 1.5px solid $tertiary;
    color: $tertiary;
    font-size: 1em;
    padding: 0.7em 0.9em;
    text-transform: uppercase;
    position: relative;
    margin-top: 0.5em;
    transition: 0.3s ease-in-out;
    font-weight: bolder;
    @include in;
    animation: scrollAnimation 0.5s 1s ease-in forwards;
    z-index: 1;
    //media breakpoint
    @include mediaMd {
      font-size: 0.8em;
    }
    @include mediaLg {
      font-size: 0.7em;
    }
    @include mediaXl {
      font-size: 0.6em;
    }
    //end of media breakpoint

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 255, 240, 0.9);
      z-index: -1;
      transform: scaleX(0);
      transition: 0.3s ease-in-out;
    }
    &:hover::before {
      transform: scaleX(1);
    }
    &:hover {
      color: $primary;
    }
  }
}
// Portoflio section

#folio {
  width: 100%;
  height: auto;
  border: 1px solid transparent;

  .section__header {
    margin: 1.5em 0;
    text-align: center;
    color: #000;
  }
  ul {
    width: 100%;
    height: auto;
    max-width: 1400px;
    margin: 0 auto 1.5em auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    //media breakpoint
    @include mediaXl {
      justify-content: space-between;
    }
    //end of media breakpoint

    .folio__li {
      width: 90%;
      min-width: 280px;
      max-width: 350px;
      height: auto;
      min-height: 375px;
      display: block;
      border: 1px solid rgb(221, 221, 221);
      position: relative;
      margin: 0 2% 3rem 2%;
      box-shadow: 0px 0px 3px 1px #ccc;
      overflow: hidden;
      text-align: center;
      border-radius: 5px;
      //media breakpoint
      @include mediaLg {
        width: calc(100% / 2);
      }
      @include mediaXl {
        width: calc(100% / 3);
      }
      //end of media breakpoint
      .folio__img {
        width: 100%;
        height: auto;
        transition: 0.3s ease-in-out;
      }
      .folio__title {
        font-size: 1.5em;
        margin: 0.5rem 0;

      }
      .folio__details {
        width: 95%;
        height: auto;
        margin: 0.5rem auto 1rem auto;
        font-size: 0.9em;
      }

      .folio__links {
        width: 100%;
        height: auto;
        padding: 1rem 0;
        border-top: 1px solid rgb(240, 240, 240);
        @include flexCenter;

        .demo_btn {
          @include flexCenter;
          width: 65px;
          font-size: 1em;
          height: auto;
          margin-right: 3em;
          background: $primary;
          text-align: center;
          padding: 0.3em 0.7em;
          position: relative;
          color: $tertiary;
          border: 2px solid $primary;
          border-radius: 2px;
          transition: 0.3s ease-in-out;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            background: $tertiary;
            color: $primary;
          }
        }
      }
    }
  }
}

// about section
#about {
  width: 100%;
  height: auto;
  z-index: 5;
  background: $tertiary;
  border: 1px solid transparent;

  .section__header {
    text-align: center;
    margin: 1.5em 0;
  }
  .about__desc {
    display: block;
    width: 100%;
    max-width: 280px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    //media breakpoint
    @include mediaMd {
      max-width: 400px;
    }
    @include mediaLg {
      max-width: 450px;
    }
    @include mediaXl {
      max-width: 500px;
    }
    //end of media breakpoint
  }
  .about__skills {
    text-align: center;
    margin: 1.5em 0;
  }
  ul {
    width: 100%;
    height: auto;
    max-width: 1400px;
    margin: 0 auto 1.5em auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    //media breakpoint
    @include mediaMd {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include mediaLg {
      flex-direction: row;
    }
    @include mediaXl {
      flex-direction: row;
    }
    //end of media breakpoint

    .about__li {
      width: 50%;
      height: auto;
      margin: 0 auto 1.5em auto;
      text-align: center;

      .about__img {
        display: block;
        margin: 0 auto 1rem auto;
        color: $primary;
      }
      .about__desc {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin: 0 auto 0.5rem auto;
      }

      &:nth-child(1):hover > .about__img {
        color: #e25223;
      }
      &:nth-child(2):hover > .about__img {
        color: #1472b6;
      }
      &:nth-child(3):hover > .about__img {
        color: #dea02b;
      }
      &:nth-child(4):hover > .about__img {
        color: #ca6698;
      }
    }
  }
}

// contact section

#contact {
  width: 100%;

  height: auto;
  background: $primary;
  border: 1px solid transparent;
  .section__header {
    color: $tertiary;
    margin: 1em 0;
    text-align: center;
  }
  .contact__con {
    width: 95%;
    min-width: 300px;
    height: auto;
    margin: 1.5em auto;
    color: $tertiary;

    //media breakpoint
    @include mediaLg {
      max-width: 900px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include mediaXl {
      max-width: 1100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    //end of media breakpoint

    .contact__list {
      width: 95%;
      height: auto;
      margin: 2em auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;

      //media breakpoint
      @include mediaLg {
        width: 33%;
      }
      @include mediaXl {
        width: 33%;
      }
      //end of media breakpoint
      .fas,
      p {
        margin-bottom: 0.5em;
      }
      .fas {
        width: 50px;
        height: auto;
        transition: 0.3s ease-in-out;
      }
      p {
        display: block;
        width: 90%;
        font-size: 0.95em;
        height: auto;
      }
      &:hover > .fas {
        color: $icon;
      }
    }
  }
}

// footer
footer {
  width: 100%;

  height: 100px;
  background: $secondary;
  @include flexCenter;
  flex-direction: column;
  ul {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    text-align: center;
  }
  li {
    width: 40px;
    height: auto;
    display: inline-block;
    text-align: center;
    a {
      width: 100%;
      height: 100%;

      i {
        width: 100%;
        height: 100%;
        color: $icon;
        transition: 0.3s ease-in-out;
      }

      &:hover > i {
        color: $tertiary;
      }
    }
  }
  p {
    color: $tertiary;
  }
}
