@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

html {
  font-family: Montserrat, sans-serif;
}

.scroll {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.left {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

section h1,
section h2,
section h3,
section h4 {
  text-transform: uppercase;
}

section .section__header {
  font-size: 1.7em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  section .section__header {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  section .section__header {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1171px) {
  section .section__header {
    font-size: 1.9em;
  }
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 0.2em 1.2em;
  background: #2f3134;
  position: fixed;
  z-index: 10;
}

header #logo {
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.5em;
}

header #logo a {
  color: #00fff0;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
    padding: 0.3em 0.5em;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1171px) {
  header #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
    padding: 0.3em 0.5em;
    margin-left: 5%;
  }
}

header #nav {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2f3134;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav {
    display: block;
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: auto;
    width: 80%;
    margin: 0 5% 0 0.5em;
  }
}

@media screen and (min-width: 1171px) {
  header #nav {
    display: block;
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: auto;
    width: 80%;
    margin: 0 5% 0 0.5em;
  }
}

header #nav .nav__close {
  display: block;
  width: 40px;
  height: 35px;
  color: #f8f8f8;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
  -webkit-animation: pulse 0.7s infinite alternate;
          animation: pulse 0.7s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav .nav__close {
    display: none;
  }
}

@media screen and (min-width: 1171px) {
  header #nav .nav__close {
    display: none;
  }
}

header #nav .nav__close:hover {
  color: #00fff0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

header #nav ul {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 6em;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 0;
    width: 90%;
    left: 10%;
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 0;
    width: 90%;
    left: 10%;
  }
}

header #nav ul .nav__list-item {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul .nav__list-item {
    width: 120px;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul .nav__list-item {
    width: 120px;
    margin-left: 5%;
  }
}

header #nav ul .nav__link {
  color: #f8f8f8;
  display: block;
  padding: 1.2em 0;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  border-bottom: 1px solid #868686;
  border-top: 1px solid #868686;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul .nav__link {
    width: 100%;
    font-size: 0.9rem;
    border: none;
  }
  header #nav ul .nav__link:hover {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul .nav__link {
    width: 100%;
    font-size: 0.9rem;
    border: none;
  }
  header #nav ul .nav__link:hover {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
  }
}

header #nav ul .nav__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #222426;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  z-index: -1;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul .nav__link::before {
    background: #00fff0;
    -webkit-transform: translateX(0) scaleX(0.5);
            transform: translateX(0) scaleX(0.5);
    height: 3px;
    bottom: 0;
    top: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul .nav__link::before {
    background: #00fff0;
    -webkit-transform: translateX(0) scaleX(0.5);
            transform: translateX(0) scaleX(0.5);
    height: 3px;
    bottom: 0;
    top: 100%;
    width: 100%;
  }
}

header #nav ul .nav__link:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul .nav__link:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 100%;
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul .nav__link:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 100%;
  }
}

header #burger {
  display: block;
  width: 40px;
  height: 35px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #burger {
    display: none;
  }
}

@media screen and (min-width: 1171px) {
  header #burger {
    display: none;
  }
}

header #burger span {
  display: block;
  width: 70%;
  height: 2.5px;
  border-radius: 3px;
  background: #f8f8f8;
  margin: 0 auto;
  position: absolute;
}

header #burger span:nth-child(2) {
  margin-top: 8px;
}

header #burger span:nth-child(3) {
  margin-top: -8px;
}

main #folio .folio__li {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

main #about .about__desc {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

main #about .about__img {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

main #contact .contact__animate {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@-webkit-keyframes scrollAnimation {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes scrollAnimation {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

#banner {
  background-image: url("/images/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f8f8f8;
  font-size: 0.6em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #banner {
    font-size: 1em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #banner {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1171px) {
  #banner {
    font-size: 1.5em;
  }
}

#banner #banner_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(34, 36, 38, 0.9);
}

#banner h1 {
  margin-bottom: 0.7em;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  -webkit-animation: scrollAnimation 0.5s 0.5s ease-in forwards;
          animation: scrollAnimation 0.5s 0.5s ease-in forwards;
}

#banner h1 span {
  color: #00fff0;
}

#banner h2 {
  margin-bottom: 0.7em;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  -webkit-animation: scrollAnimation 0.5s 1s ease-in forwards;
          animation: scrollAnimation 0.5s 1s ease-in forwards;
}

#banner .banner__btn {
  display: block;
  border: 1.5px solid #f8f8f8;
  color: #f8f8f8;
  font-size: 1em;
  padding: 0.7em 0.9em;
  text-transform: uppercase;
  position: relative;
  margin-top: 0.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bolder;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  -webkit-animation: scrollAnimation 0.5s 1s ease-in forwards;
          animation: scrollAnimation 0.5s 1s ease-in forwards;
  z-index: 1;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #banner .banner__btn {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #banner .banner__btn {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 1171px) {
  #banner .banner__btn {
    font-size: 0.6em;
  }
}

#banner .banner__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 255, 240, 0.9);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#banner .banner__btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#banner .banner__btn:hover {
  color: #222426;
}

#banner .banner__down {
  display: block;
  width: 15px;
  height: 35px;
  border: 1px solid white;
  position: absolute;
  border-radius: 7.5px;
  bottom: 40px;
}

#banner .banner__down span {
  display: block;
  width: 10px;
  height: 10px;
  background: #00fff0;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  -webkit-animation: upDown 1s ease-in-out infinite alternate;
          animation: upDown 1s ease-in-out infinite alternate;
}

@-webkit-keyframes upDown {
  0% {
    top: 0;
  }
  100% {
    top: 70%;
  }
}

@keyframes upDown {
  0% {
    top: 0;
  }
  100% {
    top: 70%;
  }
}

#folio {
  width: 100%;
  height: auto;
  border: 1px solid transparent;
}

#folio .section__header {
  margin: 1.5em 0;
  text-align: center;
  color: #000;
}

#folio ul {
  width: 100%;
  height: auto;
  margin: 1.5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #folio ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1171px) {
  #folio ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#folio ul .folio__li {
  width: 90%;
  min-width: 280px;
  max-width: 350px;
  height: auto;
  display: block;
  border: 1px solid #dddddd;
  position: relative;
  margin: 0 2% 2rem 2%;
  -webkit-box-shadow: 0px 0px 3px 1px #ccc;
          box-shadow: 0px 0px 3px 1px #ccc;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}

#folio ul .folio__li .folio__img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#folio ul .folio__li .folio__title {
  font-size: 1.2em;
  margin: 0.5rem 0;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #folio ul .folio__li .folio__title {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #folio ul .folio__li .folio__title {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1171px) {
  #folio ul .folio__li .folio__title {
    font-size: 1.2em;
  }
}

#folio ul .folio__li .folio__details {
  width: 95%;
  height: auto;
  margin: 0.5rem auto 1rem auto;
  font-size: 0.9em;
}

#folio ul .folio__li .folio__links {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  border-top: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#folio ul .folio__li .folio__links .demo_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  font-size: 1em;
  height: auto;
  margin-right: 3em;
  background: #222426;
  text-align: center;
  padding: 0.3em 0.7em;
  position: relative;
  color: #f8f8f8;
  border: 2px solid #222426;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#folio ul .folio__li .folio__links .demo_btn:last-child {
  margin-right: 0;
}

#folio ul .folio__li .folio__links .demo_btn:hover {
  background: #f8f8f8;
  color: #222426;
}

#about {
  width: 100%;
  height: auto;
  z-index: 5;
  background: #f8f8f8;
  border: 1px solid transparent;
}

#about .section__header {
  text-align: center;
  margin: 1.5em 0;
}

#about .about__desc {
  display: block;
  width: 100%;
  max-width: 280px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #about .about__desc {
    max-width: 400px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #about .about__desc {
    max-width: 450px;
  }
}

@media screen and (min-width: 1171px) {
  #about .about__desc {
    max-width: 500px;
  }
}

#about .about__skills {
  text-align: center;
  margin: 1.5em 0;
}

#about ul {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #about ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #about ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1171px) {
  #about ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#about ul .about__li {
  width: 50%;
  height: auto;
  margin: 0 auto 1.5em auto;
  text-align: center;
}

#about ul .about__li .about__img {
  display: block;
  margin: 0 auto 1rem auto;
  color: #222426;
}

#about ul .about__li .about__desc {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto 0.5rem auto;
}

#about ul .about__li:nth-child(1):hover > .about__img {
  color: #e25223;
}

#about ul .about__li:nth-child(2):hover > .about__img {
  color: #1472b6;
}

#about ul .about__li:nth-child(3):hover > .about__img {
  color: #dea02b;
}

#about ul .about__li:nth-child(4):hover > .about__img {
  color: #ca6698;
}

#contact {
  width: 100%;
  height: auto;
  background: #222426;
  border: 1px solid transparent;
}

#contact .section__header {
  color: #f8f8f8;
  margin: 1em 0;
  text-align: center;
}

#contact .contact__con {
  width: 95%;
  min-width: 300px;
  height: auto;
  margin: 1.5em auto;
  color: #f8f8f8;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact .contact__con {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1171px) {
  #contact .contact__con {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#contact .contact__con .contact__list {
  width: 95%;
  height: auto;
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact .contact__con .contact__list {
    width: 33%;
  }
}

@media screen and (min-width: 1171px) {
  #contact .contact__con .contact__list {
    width: 33%;
  }
}

#contact .contact__con .contact__list .fas,
#contact .contact__con .contact__list p {
  margin-bottom: 0.5em;
}

#contact .contact__con .contact__list .fas {
  width: 50px;
  height: auto;
}

#contact .contact__con .contact__list p {
  display: block;
  width: 90%;
  font-size: 0.95em;
  height: auto;
}

footer {
  width: 100%;
  height: 100px;
  background: #2f3134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul {
  width: 100%;
  height: auto;
  margin-bottom: 0.5em;
  text-align: center;
}

footer li {
  width: 40px;
  height: auto;
  display: inline-block;
  text-align: center;
}

footer li a {
  width: 100%;
  height: 100%;
}

footer li a i {
  width: 100%;
  height: 100%;
  color: #00fff0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer li a:hover > i {
  color: #f8f8f8;
}

footer p {
  color: #f8f8f8;
}
/*# sourceMappingURL=style.css.map */