@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

html {
  font-family: Montserrat, sans-serif;
}

.scroll {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.left {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

section h1, section h2, section h3, section h4 {
  text-transform: uppercase;
}

section .section__header {
  font-size: 1.7em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  section .section__header {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  section .section__header {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1171px) {
  section .section__header {
    font-size: 1.9em;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 0.2em 1.2em;
  background: #222426;
  position: fixed;
  z-index: 10;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header {
    border: none;
  }
}

@media screen and (min-width: 1171px) {
  header {
    border: none;
  }
}

header #logo {
  padding: 0.5em;
  color: #00FFF0;
  cursor: pointer;
  font-size: 1.5em;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
    padding: 0.3em 0.5em;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1171px) {
  header #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
    padding: 0.3em 0.5em;
    margin-left: 5%;
  }
}

header #nav {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #222426;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav {
    display: block;
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: auto;
    width: 80%;
    margin: 0 5% 0 0.5em;
  }
}

@media screen and (min-width: 1171px) {
  header #nav {
    display: block;
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: auto;
    width: 80%;
    margin: 0 5% 0 0.5em;
  }
}

header #nav .nav__close {
  display: block;
  width: 40px;
  height: 35px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
  -webkit-animation: pulse 0.7s infinite alternate;
          animation: pulse 0.7s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav .nav__close {
    display: none;
  }
}

@media screen and (min-width: 1171px) {
  header #nav .nav__close {
    display: none;
  }
}

header #nav .nav__close:hover {
  color: #00FFF0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

header #nav ul {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 6em;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 0;
    width: 90%;
    left: 10%;
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 0;
    width: 90%;
    left: 10%;
  }
}

header #nav ul .nav__list-item {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul .nav__list-item {
    width: 120px;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul .nav__list-item {
    width: 120px;
    margin-left: 5%;
  }
}

header #nav ul .nav__link {
  color: #fff;
  display: block;
  padding: 1.2em 0;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  border-bottom: 1px solid #868686;
  border-top: 1px solid #868686;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul .nav__link {
    width: 100%;
    font-size: 0.9rem;
    border: none;
  }
  header #nav ul .nav__link:hover {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul .nav__link {
    width: 100%;
    font-size: 0.9rem;
    border: none;
  }
  header #nav ul .nav__link:hover {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
  }
}

header #nav ul .nav__link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(47, 49, 52, 0.7);
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  z-index: -1;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul .nav__link::before {
    background: #00FFF0;
    -webkit-transform: translateX(0) scaleX(0.5);
            transform: translateX(0) scaleX(0.5);
    height: 3px;
    bottom: 0;
    top: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul .nav__link::before {
    background: #00FFF0;
    -webkit-transform: translateX(0) scaleX(0.5);
            transform: translateX(0) scaleX(0.5);
    height: 3px;
    bottom: 0;
    top: 100%;
    width: 100%;
  }
}

header #nav ul .nav__link:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #nav ul .nav__link:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 100%;
  }
}

@media screen and (min-width: 1171px) {
  header #nav ul .nav__link:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 100%;
  }
}

header #burger {
  display: block;
  width: 40px;
  height: 35px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header #burger {
    display: none;
  }
}

@media screen and (min-width: 1171px) {
  header #burger {
    display: none;
  }
}

header #burger span {
  display: block;
  width: 70%;
  height: 2.5px;
  border-radius: 3px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
}

header #burger span:nth-child(2) {
  margin-top: 8px;
}

header #burger span:nth-child(3) {
  margin-top: -8px;
}

main #folio .folio__li {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

main #about .about__desc {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

main #about .about__img {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

main #contact .contact__animate {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@-webkit-keyframes scrollAnimation {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes scrollAnimation {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

#banner {
  min-width: 320px;
  background: #222426;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
  position: relative;
  margin-bottom: -80px;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #banner {
    height: 75vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #banner {
    height: 80vh;
  }
}

@media screen and (min-width: 1171px) {
  #banner {
    height: 100vh;
  }
}

#banner h1 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  -webkit-animation: scrollAnimation 0.5s 0.5s ease-in forwards;
          animation: scrollAnimation 0.5s 0.5s ease-in forwards;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #banner h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #banner h1 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1171px) {
  #banner h1 {
    font-size: 3em;
  }
}

#banner h1 span {
  color: #00FFF0;
}

#banner h2 {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  -webkit-animation: scrollAnimation 0.5s 1s ease-in forwards;
          animation: scrollAnimation 0.5s 1s ease-in forwards;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #banner h2 {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #banner h2 {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1171px) {
  #banner h2 {
    font-size: 2em;
  }
}

#banner .banner__btn {
  display: block;
  border: 1.5px solid #fff;
  color: #fff;
  font-size: 0.8em;
  padding: 0.7em 0.9em;
  text-transform: uppercase;
  position: relative;
  margin-top: 0.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bolder;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  -webkit-animation: scrollAnimation 0.5s 1s ease-in forwards;
          animation: scrollAnimation 0.5s 1s ease-in forwards;
  z-index: 1;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #banner .banner__btn {
    font-size: 1em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #banner .banner__btn {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1171px) {
  #banner .banner__btn {
    font-size: 1.2em;
  }
}

#banner .banner__btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 255, 240, 0.9);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#banner .banner__btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#banner .banner__btn:hover {
  color: #222426;
}

#banner .banner__down {
  display: block;
  width: 15px;
  height: 35px;
  border: 1px solid white;
  position: absolute;
  border-radius: 7.5px;
  bottom: 40px;
}

#banner .banner__down span {
  display: block;
  width: 10px;
  height: 10px;
  background: #00FFF0;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  -webkit-animation: upDown 1s ease-in-out infinite alternate;
          animation: upDown 1s ease-in-out infinite alternate;
}

@-webkit-keyframes upDown {
  0% {
    top: 0;
  }
  100% {
    top: 70%;
  }
}

@keyframes upDown {
  0% {
    top: 0;
  }
  100% {
    top: 70%;
  }
}

#folio {
  width: 100%;
  height: auto;
  min-width: 320px;
  margin-bottom: -2em;
  border: 1px solid transparent;
  padding-bottom: 2em;
}

#folio .section__header {
  margin-top: 3em;
  text-align: center;
  color: #000;
}

#folio ul {
  width: 100%;
  height: auto;
  margin: 1.5em 0 0 0;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #folio ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1171px) {
  #folio ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#folio ul .folio__li {
  width: 100%;
  height: auto;
  display: block;
  font-size: 0;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #folio ul .folio__li {
    width: 50%;
  }
}

@media screen and (min-width: 1171px) {
  #folio ul .folio__li {
    width: 50%;
  }
}

#folio ul .folio__li .folio__link {
  width: 100%;
  height: 100%;
  display: block;
}

#folio ul .folio__li .folio__link .folio__img {
  width: 100%;
  height: auto;
  background: #222426;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#folio ul .folio__li .folio__link .folio__overlay {
  font-size: 16px !important;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(29, 29, 29, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #folio ul .folio__li .folio__link .folio__overlay {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@media screen and (min-width: 1171px) {
  #folio ul .folio__li .folio__link .folio__overlay {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

#folio ul .folio__li .folio__link .folio__overlay .folio__title {
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #folio ul .folio__li .folio__link .folio__overlay .folio__title {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #folio ul .folio__li .folio__link .folio__overlay .folio__title {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1171px) {
  #folio ul .folio__li .folio__link .folio__overlay .folio__title {
    font-size: 1.9em;
  }
}

#folio ul .folio__li .folio__link .folio__overlay ul {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#folio ul .folio__li .folio__link .folio__overlay ul li {
  width: 80px;
  margin: 0 2em;
  font-weight: bold;
  position: relative;
}

#folio ul .folio__li .folio__link .folio__overlay ul li:nth-child(1) > .demo_btn {
  border: 1.5px solid #fff;
}

#folio ul .folio__li .folio__link .folio__overlay ul li:nth-child(2) > .demo_btn {
  border: 1.5px solid #00FFF0;
}

#folio ul .folio__li .folio__link .folio__overlay ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#folio ul .folio__li .folio__link .folio__overlay ul li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#folio ul .folio__li .folio__link .folio__overlay ul li .demo_btn {
  display: block;
  width: 100%;
  text-align: center;
  height: auto;
  padding: 0.3em;
  position: relative;
  overflow: hidden;
  color: #fff;
}

#folio ul .folio__li .folio__link:hover > .folio__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #folio ul .folio__li .folio__link:hover > .folio__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 1171px) {
  #folio ul .folio__li .folio__link:hover > .folio__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#about {
  width: 100%;
  min-width: 320px;
  height: auto;
  margin-bottom: -60px;
  z-index: 5;
  border: 1px solid transparent;
  background: #fff;
  -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
          clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #about {
    margin-bottom: -70px;
    -webkit-clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
            clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #about {
    margin-bottom: -70px;
    -webkit-clip-path: polygon(100% 0, 100% 91%, 50% 100%, 0 91%, 0 0);
            clip-path: polygon(100% 0, 100% 91%, 50% 100%, 0 91%, 0 0);
  }
}

@media screen and (min-width: 1171px) {
  #about {
    margin-bottom: -70px;
    -webkit-clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
            clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
  }
}

#about .section__header {
  text-align: center;
  margin: 3em 0 1.5em 0;
}

#about .about__desc {
  display: block;
  width: 100%;
  max-width: 280px;
  height: auto;
  text-align: center;
  margin: 0 auto 2.5em auto;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #about .about__desc {
    max-width: 400px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #about .about__desc {
    max-width: 450px;
  }
}

@media screen and (min-width: 1171px) {
  #about .about__desc {
    max-width: 500px;
  }
}

#about .about__skills {
  text-align: center;
  margin-bottom: 1em;
}

#about .wrapper {
  width: 95%;
  margin: 0 auto;
  height: auto;
}

#about ul {
  width: 100%;
  height: auto;
  margin-bottom: 7em;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1171px) {
  #about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#about ul .about__li {
  width: 50%;
  height: auto;
  margin: 1.5em auto;
  text-align: center;
}

#about ul .about__li .about__img {
  display: block;
  margin: 0 auto 1rem auto;
  color: #222426;
}

#about ul .about__li .about__imgDesc {
  width: 85%;
  margin: 0 auto 0.5rem auto;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #about ul .about__li .about__imgDesc {
    width: 80%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #about ul .about__li .about__imgDesc {
    width: 75%;
  }
}

@media screen and (min-width: 1171px) {
  #about ul .about__li .about__imgDesc {
    width: 70%;
  }
}

#about ul .about__li:nth-child(1):hover > .about__img {
  color: #E25223;
}

#about ul .about__li:nth-child(2):hover > .about__img {
  color: #1472B6;
}

#about ul .about__li:nth-child(3):hover > .about__img {
  color: #DEA02B;
}

#about ul .about__li:nth-child(4):hover > .about__img {
  color: #CA6698;
}

#contact {
  width: 100%;
  min-width: 320px;
  height: auto;
  background: #222426;
  border: 1px solid transparent;
}

#contact .section__header {
  color: #fff;
  margin: 3em 0 0.5em 0;
  text-align: center;
}

#contact .wrapper {
  width: 90%;
  max-width: 350px;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #contact .wrapper {
    max-width: 450px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact .wrapper {
    max-width: 550px;
  }
}

@media screen and (min-width: 1171px) {
  #contact .wrapper {
    max-width: 650px;
  }
}

#contact .wrapper form {
  width: 100%;
  height: auto;
}

#contact .wrapper #name, #contact .wrapper #email, #contact .wrapper #txtArea {
  width: 98%;
  margin: 0.3em auto;
  padding: 0.5em;
  border: none;
  background: rgba(255, 255, 255, 0.945);
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #contact .wrapper #name, #contact .wrapper #email, #contact .wrapper #txtArea {
    margin: 0.4em auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact .wrapper #name, #contact .wrapper #email, #contact .wrapper #txtArea {
    margin: 0.5em auto;
  }
}

@media screen and (min-width: 1171px) {
  #contact .wrapper #name, #contact .wrapper #email, #contact .wrapper #txtArea {
    margin: 0.6em auto;
  }
}

#contact .wrapper #txtArea {
  height: 100px;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #contact .wrapper #txtArea {
    height: 150px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact .wrapper #txtArea {
    height: 200px;
  }
}

@media screen and (min-width: 1171px) {
  #contact .wrapper #txtArea {
    height: 250px;
  }
}

#contact .wrapper #submit {
  display: block;
  padding: 0.3em 0.5em;
  margin-bottom: 1em;
  font-size: 1em;
  border: none;
  background: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#contact .wrapper #submit:hover {
  background: #2F3134;
  color: #00FFF0;
  border: 1px solid #fff;
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #contact .wrapper #submit {
    padding: 0.5em 0.7em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact .wrapper #submit {
    padding: 0.6em 0.8em;
  }
}

@media screen and (min-width: 1171px) {
  #contact .wrapper #submit {
    padding: 0.6em 0.8em;
  }
}

footer {
  width: 100%;
  min-width: 320px;
  height: 100px;
  background: #2F3134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul {
  width: 100%;
  height: auto;
  margin-bottom: 0.5em;
  text-align: center;
}

footer li {
  width: 40px;
  height: auto;
  display: inline-block;
  text-align: center;
}

footer li a {
  width: 100%;
  height: 100%;
}

footer li a i {
  width: 100%;
  height: 100%;
  color: #00FFF0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer li a:hover > i {
  color: #fff;
}

footer p {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */