// FONT
$font-family: 'Epson';
@font-face {
    font-family: $font-family;
    src: url('../assets/font/Bebas-Regular.ttf') format('truetype'),
         url('../assets/font/BebasNeue-Bold.ttf') format('truetype');
}
$font-size: 10px;

$txt-light: #fff;

// WHEEL
$initial-wheel-width: 550px;
$initial-wheel-height: 550px;

$wheel-primary: #4643e6;
$wheel-primary-rgb: rgb(70, 67, 230);

$wheel-secondary: #FF9100;
$wheel-secondary-rgb: rgb(255, 145, 0);

$wheel-bulb-color: #FFFB96;
$wheel-bulb-color-rgb: #FFFB96;

$wheel-border-light: #D11A80;
$wheel-border-dark: #9D0165;


$wheel-prize-primary: #5037FF;
$wheel-prize-primary-rgb: rgb(80, 55, 255);

$wheel-prize-secondary: #FFA300;
$wheel-prize-secondary-rgb: rgb(255, 163, 0);

$button-base-color: #3f0086;
$button-base-color-rgb: rgb(63, 0, 134); 

$button-normal: #7755ab;
$button-normal-rgb: rgb(119, 85, 171);

$button-hover: #b1aadb;
$button-hover-rgb: rgb(177, 170, 219);


// MEDIA BREAKPOINTS
/*
    xs, sm - mobile phones
    md - tablet
    lg - laptop/desktop
*/
$xs-phone: 575.98px;
$sm-phone: 767.98px;
$md-tablet: 991.98px;
$lg-laptop: 1199.98px;