@import "reset.scss";
@import "variables.scss";
@import "./mixins/media_queries.scss";

html {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  background-image: url("../assets/images/Background-Web.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @include media_query(sm-phone) {
    background-image: url("../assets/images/Background-Mobile.png");
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

// #test_wheel {
//   width: 500px;
//   height: 500px;
//   background-color: #ccc;
//   border-radius: 50%;
//   border: 15px solid #dde;
//   position: relative;
//   overflow: hidden;
//   transition: 5s;
//   .triangle {
//     position: absolute;
//     clip-path: polygon(100% 0, 50% 100%, 0 0);
//     transform: translateX(-50%);
//     transform-origin: bottom;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 20px;
//     font-weight: bold;
//     font-family: sans-serif;
//     color: $txt-light;
//     left: 135px;
//   }
// }

#wheel {
  position: relative;
  font-family: $font-family;
  width: $initial-wheel-width;
  height: $initial-wheel-height;
  @include media_query(lg-laptop) {
    width: 450px;
    height: 450px;
  }
  @include media_query(md-tablet) {
    width: 500px;
    height: 500px;
  }
  @include media_query(xs-phone) {
    width: 80vw;
    height: 80vw;
  }
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  @include media_query(md-tablet) {
    flex-direction: column;
    padding: 10px 0;
    justify-content: center;
    margin-top: 0;
  }

  .left,
  .right {
    margin: 50px 0;
  }

  .wheel_container {
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border: 25px solid $wheel-border-light;
    box-shadow: -7px 3px 0px $wheel-border-dark;

    @include media_query(md-tablet) {
      margin: 0;
    }
    @include media_query(xs-phone) {
      border-width: 15px;
    }

    // BULB
    .bulb {
      border-radius: 50%;
      border-radius: 2px solid #fff;
      position: absolute;
      z-index: 10;
      background: #fffb96;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
        $wheel-bulb-color 0 0px 15px 4px;
      top: 50%;
      left: 50%;
    }

    #rotate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      outline: none;
      border: none;
      width: 20%;
      height: 20%;
      border-radius: 50%;
      background: #edebff;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        width: 85%;
        height: 85%;
        background: #fff;
        color: $wheel-prize-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        text-transform: uppercase;
        font-size: 3rem;
        z-index: 1;
        box-shadow: 0 0px 5px #ccc;
        cursor: pointer;

        @include media_query(xs-phone) {
          font-size: 2rem;
        }
      }

      .triangle {
        position: absolute;
        background-color: inherit;
        text-align: left;
        width: 30%;
        height: 30%;
        top: -20%;
        left: 50%;
        border-top-right-radius: 30%;
        transform: translateX(-50%) rotate(300deg) skewX(-30deg) scale(1, 0.866);
        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: inherit;
          width: 100%;
          height: 100%;
          border-top-right-radius: 30%;
        }

        &:before {
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
            translate(0, -50%);
        }

        &:after {
          transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414)
            translate(50%);
        }
      }
    }
  }

  .left {
    color: $txt-light;
    .slogan {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      div {
        background: $wheel-prize-primary;
        width: fit-content;
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 11rem;

        @include media_query(lg-laptop) {
          font-size: 9.5rem;
        }
        @include media_query(xs-phone) {
          font-size: 16vw;
          border-radius: 10px;
        }
      }

      .subtitle {
        font-size: 4.3rem;
        margin-bottom: -15px;
        z-index: 2;

        @include media_query(lg-laptop) {
          font-size: 3.7rem;
        }
        @include media_query(xs-phone) {
          font-size: 6vw;
          margin-bottom: -10px;
        }
      }
    }

    .prize_container {
      .title {
        font-size: 3rem;
        text-align: center;
        margin: 70px 0 50px 0;

        @include media_query(lg-laptop) {
          font-size: 2.5rem;
          margin: 60px 0 40px 0;
        }
        @include media_query(md-tablet) {
          font-size: 3rem;
        }

        @include media_query(xs-phone) {
          font-size: 6vw;
          margin: 40px 0 40px 0;
        }
      }

      .prizes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
        // border: 1px solid #fff;
        @include media_query(lg-laptop) {
          grid-gap: 50px;
        }
        @include media_query(md-tablet) {
          grid-gap: 100px;
        }
        @include media_query(sm-phone) {
          grid-gap: 50px;
        }

        @include media_query(xs-phone) {
          grid-template-columns: 1fr;
          grid-gap: 0;
        }

        .prize {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          img {
            max-width: 150px;
            @include media_query(lg-laptop) {
              max-width: 130px;
            }
            @include media_query(md-tablet) {
              max-width: 150px;
            }
          }

          span {
            font-size: 3rem;
            @include media_query(lg-laptop) {
              font-size: 2.7rem;
            }
          }
        }
      }
    }
  }
}

// MODALS
.modal {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/Background-Web-lose.png") !important;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0;
  top: -110vh;
  left: 0;
  z-index: 50;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
  transition: 0.2s all ease-in-out;

  .modal_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    // border: 1px solid #fff;

    .bottom {
      margin: 0 auto;
      width: 95%;
      text-align: center;
    }

    .title {
      color: $txt-light;
      font-size: 6rem;
      padding: 10px 20px 12px 20px;
      border-radius: 8px;
      background: $wheel-prize-secondary;
    }

    .try_again {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 50px;
      img {
        max-width: 250px;
        margin: 20px 0;
      }

      .button {
        background: rgba($button-normal-rgb, 0.8);
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $txt-light;
        width: 100%;
        padding: 8px 20px;
        max-width: 150px;
        font-size: 3rem;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background: $button-hover;
          transition: 0.5s background ease-in-out;
        }
      }
    }
  }
}

.win_modal {
  color: $txt-light;
  cursor: pointer;
  background-image: url("../assets/images/Background-Web-win.png") !important;
  .slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      background: $wheel-prize-primary !important;
      width: fit-content;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 8rem !important;
    }

    .subtitle {
      font-size: 5rem !important;
      margin-top: -10px;
      z-index: 2;
    }
  }

  .try_again {
    margin-top: 0 !important;
    .prize {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -15px;

      img {
        margin: 0 !important;
      }

      span {
        font-size: 5rem;
      }
    }
  }
}

.showModal {
  opacity: 1;
  top: 0;
}

.bottom {
  color: $txt-light;
  font-size: 2.2rem;
  margin: 20px auto;
  width: 95%;
  text-align: center;
}
