@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
*::before, *::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}


#wrapper {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 3em auto;
  background-color: #036400;
  border: 1px solid #38598b;
}
#title {
  display: block;
  width: 97%;
  height: auto;
  margin: 0.3em auto 0 auto;
  padding: 1em 1.5em;
  text-align: center;
  background-color: #fff;
  color: #036400;
}
#description {
  width: 100%;
  height: auto;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
#survey-form {
  width: 97%;
  height: auto;
  background-color: #fff;
  margin: 0 auto 0.5em auto;
  padding: 0.5em;
}
.container {
  width: 95%;
  margin: 1em auto;
  padding: 1em 2em;
  border: 1px solid #CCCCCC;
}
.txtBox {
  width: 70%;
  padding: 0.3em;
  margin: 1em 0;
}
#person-info label {
  display: inline-block;
  width: 7em;
}
.dropdowns {
  width: 93%;
  height: auto;
  padding: 0.3em;
  display: block;
  margin: 1em 0 2em 0;
}
.choices {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
input[type="radio"] {
  margin: 1em 0.5em 0 0.5em;
}
#checkbox {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
#checkbox input[type="checkbox"] {
  margin: 0.5em;
}
#checkbox div {
  width: 49%;
}

textarea {
  margin: 1em 0;
  display: block;
  width: 100%;
  height: 10em;
  padding: 0.5em;
}
#submit {
  display: block;
  border: none;
  background-color: #e7eaf6;
  padding: 0.5em 1em;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 2px;
}
#submit:hover {
  background-color: #036400;
  color: #fff;
}

@media only screen and (max-width: 625px) {
  #title {
    font-size: 1.8em;
  }
  label, p {
    font-size: 0.9em;
  }
  #person-info label {
    font-size: 1.1em;
  }
  .txtBox {
    font-size: 1em;
    width: 100%;
  }
  
  /* dropdown */
  .dropdowns {
    width: 100%;
  }
  /* checkbox */
  #checkbox {
    display: block;
    margin-top: 0.5em;
  }
  #checkbox div {
    width: 100%;
  }
}